.productos-mas-vendidos {
  color: #b4cab1;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.todos-los-productos-texto {
  color: #b4cab1;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 100px;
}

/* Estilo registro*/
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

.registro-usuario-title {
  text-align: center;
}

.letra-cuadro {
  color: rgb 37, 1, 51;
  font-family: "Times New Roman", Times, serif;
}

.letra-cuadro {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.letra-carrito {
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.total {
  margin-top: 20px;
  text-align: right;
}

td {
  border: 1px;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #b4cab1;
}

#carrito {
  width: 70%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20%;
}

.total {
  margin-top: 20px;
  text-align: right;
}

.copy {
  font-weight: 600;
  text-align: center;
}

.copy-contacto {
  font-weight: 600;
  text-align: center;
}

.copy-lista-de-deseo {
  font-weight: 600;
  text-align: center;
}

.copy-productos {
  font-weight: 600;
  text-align: center;
}

.copy-registro {
  font-weight: 600;
  text-align: center;
}

.copy-shopping-cart {
  font-weight: 600;
  text-align: center;
}

.Logo-chico-productos {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.nav-item {
  color: #b4cab1;
}

.logo-navbar {
  width: 100px;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
}

body {
  line-height: 1.317101995;
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #ffffff;
}

button:focus {
  outline: 0;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content {
  background-color: #0a0a0a;
  font-family: "Montserrat", sans-serif;
}

.todos-los-productos-texto {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto 48px;
  z-index: 0;
  transition: all 450ms ease;
}
.todos-los-productos-texto::after, .todos-los-productos-texto::before {
  content: "";
  display: block;
  position: absolute;
  transition: width 540ms, opacity 300ms ease;
}

.todos-los-productos-texto {
  padding: 0 6px;
}
.todos-los-productos-texto::before, .todos-los-productos-texto::after {
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 0.1em;
  width: 0;
}
.todos-los-productos-texto::before {
  left: 0;
}
.todos-los-productos-texto::after {
  background-color: pink;
  right: 0;
}
.todos-los-productos-texto:hover {
  color: pink;
}
.todos-los-productos-texto:hover::before {
  width: 60%;
  transition: width 250ms ease;
  background-color: pink;
}
.todos-los-productos-texto:hover::after {
  width: 100%;
  background-color: transparent;
}

/*Registro*/
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: rgb(66, 66, 66);
  color: #FFF;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] :hover {
  background-color: rgb(66, 66, 66);
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #b4cab1;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba 0, 0, 0, 0.1;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=submit] {
  background-color: rgb(66, 66, 66);
  color: #FFF;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.infoCUOTAS1 {
  text-align: center;
  max-width: 100%;
  padding: 4%;
  height: auto;
  display: block;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo-chico-productos {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.productos-mas-vendidos {
  color: #b4cab1;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.productos-mas-vendidos {
  color: #b4cab1;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*Registro*/
h2 {
  margin: 20px 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #b4cab1;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba 0, 0, 0, 0.1;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=submit] :hover {
  background-color: #0056b3;
}

.preguntanos {
  text-align: center;
  color: #b4cab1;
}

.email-contacto {
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  text-align: center;
}

span {
  font-weight: bold;
}

#email {
  color: #5f2f5f;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

#telefono {
  color: #b4cab1;
}

.tel-contacto {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.botones-interact {
  color: rgb 180, 123, 180;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}

.botones-interact a {
  text-decoration: none;
}

.botones-interact ul {
  list-style-type: none;
}

.fa-brands {
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: #b4cab1;
}

li.nav-item1 {
  margin-top: 7px;
}

/*Imagenes de billetera y bandolera del index*/

.image-container {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}

.image-container img {
  max-width: 100%;
  height: auto; 
  margin: 10px; 
}

@media (max-width: 600px) {
  .image-container {
      flex-direction: column;
      align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */