
.copy {
    font-weight: 600;
    text-align: center;
}

.copy-contacto {
    font-weight: 600;
    text-align: center;
}

.copy-lista-de-deseo {
    font-weight: 600;
    text-align: center;
}

.copy-productos {
    font-weight: 600;
    text-align: center;
}

.copy-registro {
    font-weight: 600;
    text-align: center;
}

.copy-shopping-cart {
    font-weight: 600;
    text-align: center;
}

.Logo-chico-productos {
    width: 100px;
    display: block;
    margin: 0 auto;
}

