.infoCUOTAS1 {
    text-align: center;
    max-width: 100%;
    padding: 4%;
    height: auto;
    display: block;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-chico-productos {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.productos-mas-vendidos {
    color: $color-principal;
    font-size: x-large;
    font-family: $font-principal;
    text-align: center;
}

