.infoCUOTAS1 {
    text-align: center;
    max-width: 100%;
    padding: 4%;
    height: auto;
    display: block;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: auto;
}

@media (max-width: 767px) {
    .image-container img{
    .image-container {
        width: 100%;
    }
}
}

.image-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Apartado productos*/
.billetera-producto2 {
    width: 425px;
}

.logo-chico-productos {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.productos-mas-vendidos {
    color: $color-principal;
    font-size: x-large;
    font-family: $font-principal;
    text-align: center;
}

.billetera-producto2 {
    width: 425px;
}